.image {
    border: rgb(225, 35, 130) 1px solid;
    width: 64px;
    height: 64px;
}

.player-card {
    border: 2px solid rgb(3, 166, 166);
    text-align: center;
    padding: 5px;
    margin: 5px;
    background-color: white;
}
