#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
/.vs/
/.tmp/

package-lock.json
.DS_Store

# Code Coverage Folder
coverage/

#Node Modules
/node_modules
.devenv
*.nix
.pre-commit-config.yaml
devenv.lock
