:host {
    height: 100%;
    background-color: #575757;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.85rem;
    margin: 0;
    padding: 0;
}

:host span {
    margin: 0;
}
