<div class="container justified">
    @if (config.isLoaded) {
    <div class="logo" role="img" aria-label="Mythica Logo"></div>

    <section class="menu">
        <button class="game-button join" routerLink="/join-match">
            <span>Joindre une partie</span>
        </button>

        <button class="game-button create" routerLink="/match-creation-page">
            <span>Créer une partie</span>
        </button>

        <button class="game-button admin" routerLink="/admin-page">
            <span>Administrer les jeux</span>
        </button>
    </section>

    <aside class="team-name-box" aria-label="Membres de l'équipe">
        <h2>Équipe 311</h2>
        @for (name of config.getTeamNames(); track $index) {
        <p>{{ name }}</p>
        }
    </aside>
    }
</div>
