.section {
    margin-bottom: 20px;
}

h2,
h3 {
    margin-bottom: 10px;
    font-weight: 600;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #b3065c;
}

input[type='text'] {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    background-color: pink;
    cursor: pointer;

    &:hover {
        background-color: hotpink;
    }
}

.random-character {
    background-color: lightblue;

    &:hover {
        background-color: rgb(130, 179, 219);
    }
}

.character-creation-form {
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
    gap: 20px;
}

.avatar-card {
    border-right: 2px solid #b3065c;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatar-characteristics {
    padding-left: 20px;
}
